<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="icon" type="image/x-icon" href="https://images.squarespace-cdn.com/content/v1/5b5a266fcef372310148d6d6/1532843250594-O9ODAV19O8HYI57VCZ1G/favicon.ico?format=100w"/>
  <!-- Link to the global CSS file -->
  <link rel="stylesheet" href="styles/styles.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
</head>
<body>
  <%- include('../components/adminNavBar') %>
  <!-- Side navigation -->
  <div class="custom-sidenav">
    <a href="/adminHome">Admin Home</a>
    <a href="/admins">Manage Admins</a>
    <a href="/team_members">Manage Team</a>
    <a href="/events">Events</a>
    <a href="/trainings">Trainings</a>
    <a href="/faqs">FAQs</a>
  </div>

  <div class="admin-content">
    <div class="admin-body">
      <div>
          <h2><%= title %></h2>
          <% if (title !== 'Admin Home') { %>
            <button class="addBtn" id="addButton">Add</button>
          <% } %>
      </div>
      <%- body %>
    </div> 
  </div>

  <script src="/scripts/scripts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>