<!-- header.ejs -->
<nav class="transparent">
  <div class="nav-wrapper">
    <a href="/adminHome" class="brand-logo">Turtle Shelter Project</a>
    <div class="right">
      <button class="logoutButton" id="logoutBtn">Log Out</button>
    </div>
  </div>
</nav>

<script src="/scripts/scripts.js"></script>
