<br>
<!-- Trigger Button to open Modal -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Edit Event</a>

<!-- Include the modal template and pass dynamic data -->

<%- include('../components/modal', {
  title: 'Edit Event',
  formAction: '/update-event',
  body: `
    <div class="input-field">
      <input id="event-name" type="text" name="eventName" value="<%= event.name %>" required>
      <label for="event-name">Event Name</label>
    </div>
    <div class="input-field">
      <input id="event-date" type="date" name="eventDate" value="<%= event.date %>" required>
      <label for="event-date">Event Date</label>
    </div>
    <div class="input-field">
      <textarea id="event-description" name="eventDescription" class="materialize-textarea" required><%= event.description %></textarea>
      <label for="event-description">Event Description</label>
    </div>
  `
}) %>




