<br>

<!-- Button to trigger modal -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Edit FAQ</a>

<!-- views/admin_Views/faqs.ejs -->
<%- include('../components/modal', {
  title: 'Edit FAQ',
  deleteAction: '',
  formAction: '/update-faq',  // This would be the action for the form submission
  body: `
    <div class="input-field">
      <input id="faq-question" type="text" name="faqQuestion" required>
      <label for="faq-question">FAQ Question</label>
    </div>
    <div class="input-field">
      <textarea id="faq-answer" name="faqAnswer" class="materialize-textarea" required></textarea>
      <label for="faq-answer">FAQ Answer</label>
    </div>
  `
}) %>