<!doctype html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="en-US"  class="touch-styles">
  <head>
    <!-- <link rel="stylesheet" href="styles/styles.css"> -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- This is Squarespace. --><!-- turtleshelterproject -->
<base href="">
<meta charset="utf-8" />
<title>Turtle Shelter Project</title>
<meta http-equiv="Accept-CH" content="Sec-CH-UA-Platform-Version, Sec-CH-UA-Model" /><link rel="icon" type="image/x-icon" src="../../public/turtle_trash.png"/>
<link rel="canonical" href="https://turtleshelterproject.org"/>
<meta property="og:site_name" content="Turtle Shelter Project"/>
<meta property="og:title" content="Turtle Shelter Project"/>
<meta property="og:url" content="https://turtleshelterproject.org"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="Insulated Vests for people experiencing homelessness; our mission is to provide people in need of a &quot;portable shelter&quot; (like a turtle) and to provide a meaningful way for everyone willing to serve."/>
<meta property="og:image" content="../../public/turtle_trash.png"/>
<meta property="og:image:width" content="552"/>
<meta property="og:image:height" content="544"/>
<meta itemprop="name" content="Turtle Shelter Project"/>
<meta itemprop="url" content="https://turtleshelterproject.org"/>
<meta itemprop="description" content="Insulated Vests for people experiencing homelessness; our mission is to provide people in need of a &quot;portable shelter&quot; (like a turtle) and to provide a meaningful way for everyone willing to serve."/>
<meta itemprop="thumbnailUrl" content="../../public/turtle_trash.png"/>
<link rel="image_src" href="../../public/turtle_trash.png" />
<meta itemprop="image" content="../../public/turtle_trash.png"/>
<meta name="twitter:title" content="Turtle Shelter Project"/>
<meta name="twitter:image" content="../../public/turtle_trash.png"/>
<meta name="twitter:url" content="https://turtleshelterproject.org"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:description" content="Insulated Vests for people experiencing homelessness; our mission is to provide people in need of a &quot;portable shelter&quot; (like a turtle) and to provide a meaningful way for everyone willing to serve."/>
<meta name="description" content="Insulated Vests for people experiencing homelessness; our mission is to 
provide people in need of a &quot;portable shelter&quot; (like a turtle) and to 
provide a meaningful way for everyone willing to serve." />
<link rel="preconnect" href="https://images.squarespace-cdn.com">
<script type="text/javascript" src="//use.typekit.net/ik/xTGcFxaj_7mz6o3bvgQiPlF2f099tsRyCEgBGLpeMxMfeGG2fFHN4UJLFRbh52jhWDmKFAIkFRZcjhmcwDSkwDI3wQbtZ2ZqFy7XMPG0iYmkieU8Shy8dYs8S1gkdhT8jab0SaBujW48Sagyjh90jhNlOeUzjhBC-eNDifUXiW4XdemD-emCiemkSY4z-cmRifozScSCiYmkieU8Shy8dYs8S1gkdhT8jab0SaBujW48Sagyjh90jhNlOYiaikoXiW4XdemD-emCiemkSY4z-cmRifozScSCiaiaO1suS1sCZWFGZAUXZW43ScN7ZAFXO1FUiABkZWF3jAF8OcFzdPJwSY4zpe8ljPu0daZyJy4yZeNKZPu1jW4ydAN0Zfu3Scv7fbRKHyMMeMw6MKG4fHvgIMMjgfMfH6GJCwbgIMMjgPMfH6qJnbIbMg6eJMJ7fbKOMsMMeMS6MKG4fHtgIMMjIfMfH6qJRMIbMg6sJMJ7fbRDFgMgeMb6MKG4fVbXIMIjgKMfH6qJv2bbMs6YJMJ7fbRkFgMgeMt6MKG4fVIXIMIjIPMfqMYNoOnSgb.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript" crossorigin="anonymous" defer="defer" nomodule="nomodule" src="//assets.squarespace.com/@sqs/polyfiller/1.6/legacy.js"></script>
<script type="text/javascript" crossorigin="anonymous" defer="defer" src="//assets.squarespace.com/@sqs/polyfiller/1.6/modern.js"></script>
<script type="text/javascript">SQUARESPACE_ROLLUPS = {};</script>
<script>(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["//assets.squarespace.com/universal/scripts-compressed/extract-css-runtime-cf51977555a15f8a54bc-min.en-US.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-extract_css_runtime');</script>
<script crossorigin="anonymous" src="//assets.squarespace.com/universal/scripts-compressed/extract-css-runtime-cf51977555a15f8a54bc-min.en-US.js" defer ></script><script>(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["//assets.squarespace.com/universal/scripts-compressed/extract-css-moment-js-vendor-6c569122bfa66a51a056-min.en-US.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-extract_css_moment_js_vendor');</script>
<script crossorigin="anonymous" src="//assets.squarespace.com/universal/scripts-compressed/extract-css-moment-js-vendor-6c569122bfa66a51a056-min.en-US.js" defer ></script><script>(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["//assets.squarespace.com/universal/scripts-compressed/cldr-resource-pack-32136deb9638cc6130b2-min.en-US.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-cldr_resource_pack');</script>
<script crossorigin="anonymous" src="//assets.squarespace.com/universal/scripts-compressed/cldr-resource-pack-32136deb9638cc6130b2-min.en-US.js" defer ></script><script>(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["//assets.squarespace.com/universal/scripts-compressed/common-vendors-stable-61293f01d648eef165fc-min.en-US.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-common_vendors_stable');</script>
<script crossorigin="anonymous" src="//assets.squarespace.com/universal/scripts-compressed/common-vendors-stable-61293f01d648eef165fc-min.en-US.js" defer ></script><script>(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["//assets.squarespace.com/universal/scripts-compressed/common-vendors-be0091dc488b10891ed6-min.en-US.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-common_vendors');</script>
<script crossorigin="anonymous" src="//assets.squarespace.com/universal/scripts-compressed/common-vendors-be0091dc488b10891ed6-min.en-US.js" defer ></script><script>(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["//assets.squarespace.com/universal/scripts-compressed/common-b33702450f88b3268daa-min.en-US.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-common');</script>
<script crossorigin="anonymous" src="//assets.squarespace.com/universal/scripts-compressed/common-b33702450f88b3268daa-min.en-US.js" defer ></script><script>(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["//assets.squarespace.com/universal/scripts-compressed/performance-d9f618c1beaea97b6499-min.en-US.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-performance');</script>
<script crossorigin="anonymous" src="//assets.squarespace.com/universal/scripts-compressed/performance-d9f618c1beaea97b6499-min.en-US.js" defer ></script><script data-name="static-context">Static = window.Static || {}; Static.SQUARESPACE_CONTEXT = {"betaFeatureFlags":["blueprint_content_replacement","campaigns_discount_section_in_blasts","campaigns_discount_section_in_automations","scripts_defer","campaigns_black_friday_banners","fluid_engine","hide_header_footer_beta","campaigns_thumbnail_layout","hideable_header_footer_for_videos","order_status_page_checkout_landing_enabled","i18n_beta_website_locales","pages_panel_v3_search_bar","enable_css_variable_tweaks","campaigns_global_uc_ab","contacts_and_campaigns_redesign","unify_edit_mode_p2","hideable_header_footer_for_memberareas","marketing_landing_page","commerce_clearpay","hideable_header_footer","hideable_header_footer_for_courses","campaigns_import_discounts","gdpr_cookie_banner","is_feature_gate_refresh_enabled","campaigns_new_image_layout_picker","accounting_orders_sync","nested_categories_migration_enabled","commerce_site_visitor_metrics","visitor_react_forms","fluid_engine_clean_up_grid_contextual_change","toggle_preview_new_shortcut"],"videoAssetsFeatureFlags":["mux-data-video-collection","mux-data-course-collection"],"facebookAppId":"314192535267336","facebookApiVersion":"v6.0","rollups":{"squarespace-announcement-bar":{"js":"//assets.squarespace.com/universal/scripts-compressed/announcement-bar-abc247145d9c909b7ca1-min.en-US.js"},"squarespace-audio-player":{"css":"//assets.squarespace.com/universal/styles-compressed/audio-player-ef238f99d44a3bdc6fbe-min.en-US.css","js":"//assets.squarespace.com/universal/scripts-compressed/audio-player-7b2d6f5ce8ae62cf892f-min.en-US.js"},"squarespace-blog-collection-list":{"css":"//assets.squarespace.com/universal/styles-compressed/blog-collection-list-8ec841cacfb75d4282f4-min.en-US.css","js":"//assets.squarespace.com/universal/scripts-compressed/blog-collection-list-44fda292525bdeb0ee8a-min.en-US.js"},"squarespace-calendar-block-renderer":{"css":"//assets.squarespace.com/universal/styles-compressed/calendar-block-renderer-b15e2d46a617c8add4b4-min.en-US.css","js":"//assets.squarespace.com/universal/scripts-compressed/calendar-block-renderer-ba9e797b1c6edb9a3bac-min.en-US.js"},"squarespace-chartjs-helpers":{"css":"//assets.squarespace.com/universal/styles-compressed/chartjs-helpers-9e75b5d75bb5cb4c1f67-min.en-US.css","js":"//assets.squarespace.com/universal/scripts-compressed/chartjs-helpers-6f4b03f58cff68354645-min.en-US.js"},"squarespace-comments":{"css":"//assets.squarespace.com/universal/styles-compressed/comments-a0d9356d7c1596ab2c53-min.en-US.css","js":"//assets.squarespace.com/universal/scripts-compressed/comments-80a567d7afca7ea1dbfe-min.en-US.js"},"squarespace-custom-css-popup":{"css":"//assets.squarespace.com/universal/styles-compressed/custom-css-popup-d6e0f953c836d9289b10-min.en-US.css","js":"//assets.squarespace.com/universal/scripts-compressed/custom-css-popup-73cf670716b518a340d3-min.en-US.js"},"squarespace-dialog":{"css":"//assets.squarespace.com/universal/styles-compressed/dialog-2dcac307baebe70727dc-min.en-US.css","js":"//assets.squarespace.com/universal/scripts-compressed/dialog-dbb8daeadaf90e62b274-min.en-US.js"},"squarespace-events-collection":{"css":"//assets.squarespace.com/universal/styles-compressed/events-collection-b15e2d46a617c8add4b4-min.en-US.css","js":"//assets.squarespace.com/universal/scripts-compressed/events-collection-297bf44c7cd0c7f15d78-min.en-US.js"},"squarespace-form-rendering-utils":{"js":"//assets.squarespace.com/universal/scripts-compressed/form-rendering-utils-a92219a77cf6d4679390-min.en-US.js"},"squarespace-forms":{"css":"//assets.squarespace.com/universal/styles-compressed/forms-b952cddb94c5d471b8d3-min.en-US.css","js":"//assets.squarespace.com/universal/scripts-compressed/forms-49fd9d5237aa589917dd-min.en-US.js"},"squarespace-gallery-collection-list":{"css":"//assets.squarespace.com/universal/styles-compressed/gallery-collection-list-8ec841cacfb75d4282f4-min.en-US.css","js":"//assets.squarespace.com/universal/scripts-compressed/gallery-collection-list-dabc951e1bbbe8467525-min.en-US.js"},"squarespace-image-zoom":{"css":"//assets.squarespace.com/universal/styles-compressed/image-zoom-8ec841cacfb75d4282f4-min.en-US.css","js":"//assets.squarespace.com/universal/scripts-compressed/image-zoom-485cb3cf26fda8199e47-min.en-US.js"},"squarespace-pinterest":{"css":"//assets.squarespace.com/universal/styles-compressed/pinterest-8ec841cacfb75d4282f4-min.en-US.css","js":"//assets.squarespace.com/universal/scripts-compressed/pinterest-7ad9f70c56d9c6b0ae65-min.en-US.js"},"squarespace-popup-overlay":{"css":"//assets.squarespace.com/universal/styles-compressed/popup-overlay-e89b4cc96c222ed66c64-min.en-US.css","js":"//assets.squarespace.com/universal/scripts-compressed/popup-overlay-ece7db5c4bfceb54a50a-min.en-US.js"},"squarespace-product-quick-view":{"css":"//assets.squarespace.com/universal/styles-compressed/product-quick-view-2f87c3dcb76ca485179d-min.en-US.css","js":"//assets.squarespace.com/universal/scripts-compressed/product-quick-view-d51df5b3db530fb8427d-min.en-US.js"},"squarespace-products-collection-item-v2":{"css":"//assets.squarespace.com/universal/styles-compressed/products-collection-item-v2-8ec841cacfb75d4282f4-min.en-US.css","js":"//assets.squarespace.com/universal/scripts-compressed/products-collection-item-v2-1ed64b36a5caefb0bf3d-min.en-US.js"},"squarespace-products-collection-list-v2":{"css":"//assets.squarespace.com/universal/styles-compressed/products-collection-list-v2-8ec841cacfb75d4282f4-min.en-US.css","js":"//assets.squarespace.com/universal/scripts-compressed/products-collection-list-v2-91090125416a47e4fecb-min.en-US.js"},"squarespace-search-page":{"css":"//assets.squarespace.com/universal/styles-compressed/search-page-917382e71b023cec7555-min.en-US.css","js":"//assets.squarespace.com/universal/scripts-compressed/search-page-9f4098985bf13af25db5-min.en-US.js"},"squarespace-search-preview":{"js":"//assets.squarespace.com/universal/scripts-compressed/search-preview-4e7434a694d83d8766a0-min.en-US.js"},"squarespace-simple-liking":{"css":"//assets.squarespace.com/universal/styles-compressed/simple-liking-4279cc7bb78333b8db43-min.en-US.css","js":"//assets.squarespace.com/universal/scripts-compressed/simple-liking-f5b368f59d68ab9f9480-min.en-US.js"},"squarespace-social-buttons":{"css":"//assets.squarespace.com/universal/styles-compressed/social-buttons-3a7d186e7e5e3b30911b-min.en-US.css","js":"//assets.squarespace.com/universal/scripts-compressed/social-buttons-b71ef5af6c65212fb342-min.en-US.js"},"squarespace-tourdates":{"css":"//assets.squarespace.com/universal/styles-compressed/tourdates-8ec841cacfb75d4282f4-min.en-US.css","js":"//assets.squarespace.com/universal/scripts-compressed/tourdates-22e5cff21f07efe64af0-min.en-US.js"},"squarespace-website-overlays-manager":{"css":"//assets.squarespace.com/universal/styles-compressed/website-overlays-manager-efd3c12d460f58781eb3-min.en-US.css","js":"//assets.squarespace.com/universal/scripts-compressed/website-overlays-manager-db7ec709521a62f0b755-min.en-US.js"}},"pageType":2,"website":{"id":"5b5a266fcef372310148d6d6","identifier":"turtleshelterproject","websiteType":1,"contentModifiedOn":1627865426913,"cloneable":false,"hasBeenCloneable":false,"siteStatus":{},"language":"en-US","timeZone":"America/Denver","machineTimeZoneOffset":-25200000,"timeZoneOffset":-25200000,"timeZoneAbbr":"MST","siteTitle":"Turtle Shelter Project","fullSiteTitle":"Turtle Shelter Project","siteTagLine":"Every life has value, every person can serve.","siteDescription":"<p>Every life has value; every person can serve. Turtle Shelter Project\u2019s mission is to provide foam vests to homeless individuals who may not have access to shelter. We also provide service opportunities in communities to benefit the homeless population.</p>","location":{"addressTitle":"Turtle Shelter Project","addressLine1":"PO Box 382","addressLine2":"Kaysville, UT 84037","addressCountry":""},"socialLogoImageId":"5b5cec631ae6cf8485298a7e","shareButtonOptions":{"1":true,"8":true,"6":true,"4":true,"2":true,"7":true},"socialLogoImageUrl":"//images.squarespace-cdn.com/content/v1/5b5a266fcef372310148d6d6/1532816483297-S584W5J0YWYFP1CE1U3H/Original+logo+low+resolution.png","authenticUrl":"https://turtleshelterproject.org","internalUrl":"https://turtleshelterproject.squarespace.com","baseUrl":"https://turtleshelterproject.org","primaryDomain":"turtleshelterproject.org","sslSetting":3,"isHstsEnabled":false,"socialAccounts":[{"serviceId":60,"screenname":"Facebook","addedOn":1560439915164,"profileUrl":"https://www.facebook.com/turtleshelterproject/","iconEnabled":true,"serviceName":"facebook-unauth"}],"typekitId":"","statsMigrated":false,"imageMetadataProcessingEnabled":false,"screenshotId":"203dea9409354f9f3418a14f82fd8d3af3db32b2b61f41bda0fb7cf0c40c94e4","showOwnerLogin":false},"websiteSettings":{"id":"5b5a266fcef372310148d6d8","websiteId":"5b5a266fcef372310148d6d6","type":"Non-Profit","subjects":[],"country":"US","state":"CA","simpleLikingEnabled":true,"mobileInfoBarSettings":{"style":3,"isContactEmailEnabled":true,"isContactPhoneNumberEnabled":true,"isLocationEnabled":false,"isBusinessHoursEnabled":false},"commentLikesAllowed":true,"commentAnonAllowed":true,"commentThreaded":true,"commentApprovalRequired":false,"commentAvatarsOn":true,"commentSortType":2,"commentFlagThreshold":0,"commentFlagsAllowed":true,"commentEnableByDefault":true,"commentDisableAfterDaysDefault":0,"disqusShortname":"","commentsEnabled":false,"contactPhoneNumber":"801-872-3190","businessHours":{"monday":{"text":"","ranges":[{}]},"tuesday":{"text":"","ranges":[{}]},"wednesday":{"text":"","ranges":[{}]},"thursday":{"text":"","ranges":[{}]},"friday":{"text":"","ranges":[{}]},"saturday":{"text":"","ranges":[{}]},"sunday":{"text":"","ranges":[{}]}},"contactEmail":"turtleshelterproject@gmail.com","storeSettings":{"returnPolicy":null,"termsOfService":null,"privacyPolicy":null,"expressCheckout":false,"continueShoppingLinkUrl":"/","useLightCart":false,"showNoteField":false,"shippingCountryDefaultValue":"US","billToShippingDefaultValue":false,"showShippingPhoneNumber":true,"isShippingPhoneRequired":false,"showBillingPhoneNumber":true,"isBillingPhoneRequired":false,"currenciesSupported":["USD","AUD","CAD","CHF","CZK","DKK","EUR","GBP","HKD","ILS","MXN","MYR","NOK","NZD","PHP","PLN","RUB","SEK","SGD","THB"],"defaultCurrency":"USD","selectedCurrency":"USD","measurementStandard":1,"showCustomCheckoutForm":false,"checkoutPageMarketingOptInEnabled":false,"enableMailingListOptInByDefault":false,"sameAsRetailLocation":false,"merchandisingSettings":{"scarcityEnabledOnProductItems":false,"scarcityEnabledOnProductBlocks":false,"scarcityMessageType":"DEFAULT_SCARCITY_MESSAGE","scarcityThreshold":10,"multipleQuantityAllowedForServices":true,"restockNotificationsEnabled":false,"restockNotificationsSuccessText":"","restockNotificationsMailingListSignUpEnabled":false,"relatedProductsEnabled":false,"relatedProductsOrdering":"random","soldOutVariantsDropdownDisabled":false,"productComposerOptedIn":false,"productComposerABTestOptedOut":false,"productReviewsEnabled":false,"displayImportedProductReviewsEnabled":false,"hasOptedToCollectNativeReviews":false},"minimumOrderSubtotalEnabled":false,"isLive":true,"multipleQuantityAllowedForServices":true},"useEscapeKeyToLogin":true,"ssBadgeType":1,"ssBadgePosition":4,"ssBadgeVisibility":1,"ssBadgeDevices":1,"pinterestOverlayOptions":{"mode":"disabled"},"ampEnabled":false,"adminAccountsSettings":{"loginAllowed":false,"signupAllowed":false}},"cookieSettings":{"isCookieBannerEnabled":false,"isRestrictiveCookiePolicyEnabled":false,"cookieBannerText":"","cookieBannerTheme":"","cookieBannerVariant":"","cookieBannerPosition":"","cookieBannerCtaVariant":"","cookieBannerCtaText":"","cookieBannerAcceptType":"OPT_IN","cookieBannerOptOutCtaText":"","cookieBannerHasOptOut":false,"cookieBannerHasManageCookies":true,"cookieBannerManageCookiesLabel":"","cookieBannerSavedPreferencesText":"","cookieBannerSavedPreferencesLayout":"PILL"},"websiteCloneable":false,"collection":{"title":"Home","id":"5b5ce47503ce64f3c821e150","fullUrl":"/","type":10,"permissionType":1},"subscribed":false,"appDomain":"squarespace.com","templateTweakable":true,"tweakJSON":{"aspect-ratio":"Auto","banner-slideshow-controls":"Arrows","gallery-arrow-style":"No Background","gallery-aspect-ratio":"3:2 Standard","gallery-auto-crop":"true","gallery-autoplay":"false","gallery-design":"Grid","gallery-info-overlay":"Show on Hover","gallery-loop":"false","gallery-navigation":"Bullets","gallery-show-arrows":"true","gallery-transitions":"Fade","galleryArrowBackground":"rgba(34,34,34,1)","galleryArrowColor":"rgba(255,255,255,1)","galleryAutoplaySpeed":"3","galleryCircleColor":"rgba(255,255,255,1)","galleryInfoBackground":"rgba(0, 0, 0, .7)","galleryThumbnailSize":"100px","gridSize":"280px","gridSpacing":"10px","logoContainerWidth":"140px","product-gallery-auto-crop":"false","product-image-auto-crop":"true","siteTitleContainerWidth":"220px","tweak-v1-related-products-title-spacing":"50px"},"templateId":"52a74dafe4b073a80cd253c5","templateVersion":"7","pageFeatures":[1,2,4],"gmRenderKey":"QUl6YVN5Q0JUUk9xNkx1dkZfSUUxcjQ2LVQ0QWVUU1YtMGQ3bXk4","templateScriptsRootUrl":"https://static1.squarespace.com/static/ta/52a74d9ae4b0253945d2aee9/1052/scripts/","impersonatedSession":false,"tzData":{"zones":[[-420,"US","M%sT",null]],"rules":{"US":[[1967,2006,null,"Oct","lastSun","2:00","0","S"],[1987,2006,null,"Apr","Sun>=1","2:00","1:00","D"],[2007,"max",null,"Mar","Sun>=8","2:00","1:00","D"],[2007,"max",null,"Nov","Sun>=1","2:00","0","S"]]}},"showAnnouncementBar":false,"recaptchaEnterpriseContext":{"recaptchaEnterpriseSiteKey":"6LdDFQwjAAAAAPigEvvPgEVbb7QBm-TkVJdDTlAv"},"i18nContext":{"timeZoneData":{"id":"America/Denver","name":"Mountain Time"}},"env":"PRODUCTION"};</script>
<script type="module">Squarespace.load(window);</script>
<script data-sqs-type="imageloader-bootstrapper" type="module">if(window.ImageLoader) window.ImageLoader.bootstrap({}, document);</script>
<script type="module">Squarespace.afterBodyLoad(Y);</script>
<script type="application/ld+json">{"url":"https://turtleshelterproject.org","name":"Turtle Shelter Project","description":"<p>Every life has value; every person can serve. Turtle Shelter Project\u2019s mission is to provide foam vests to homeless individuals who may not have access to shelter. We also provide service opportunities in communities to benefit the homeless population.</p>","@context":"http://schema.org","@type":"WebSite"}</script><script type="application/ld+json">{"legalName":"Turtle Shelter Project","address":"PO Box 382\nKaysville, UT 84037","email":"turtleshelterproject@gmail.com","telephone":"801-872-3190","sameAs":["https://www.facebook.com/turtleshelterproject/"],"@context":"http://schema.org","@type":"Organization"}</script><script type="application/ld+json">{"address":"PO Box 382\nKaysville, UT 84037","name":"Turtle Shelter Project","openingHours":", , , , , , ","@context":"http://schema.org","@type":"LocalBusiness"}</script><link rel="stylesheet" type="text/css" href="https://static1.squarespace.com/static/sitecss/5b5a266fcef372310148d6d6/58/52a74dafe4b073a80cd253c5/5b5ce43f1ae6cf8485287a10/1052/site.css"/><script>Static.COOKIE_BANNER_CAPABLE = true;</script>
<!-- End of Squarespace Headers -->
    <script>/* Must be below squarespace-headers */(function(){var e='ontouchstart'in window||navigator.msMaxTouchPoints;var t=document.documentElement;if(!e&&t){t.className=t.className.replace(/touch-styles/,'')}})()
    </script>
  </head>
  <body id="collection-5b5ce47503ce64f3c821e150" class="transparent-header enable-nav-button nav-button-style-outline nav-button-corner-style-pill banner-button-style-solid banner-button-corner-style-pill banner-slideshow-controls-arrows meta-priority-date  hide-entry-author hide-list-entry-footer    hide-blog-sidebar center-navigation--info    event-show-past-events event-thumbnails event-thumbnail-size-32-standard event-date-label  event-list-show-cats event-list-date event-list-time event-list-address   event-icalgcal-links  event-excerpts      gallery-design-grid aspect-ratio-auto lightbox-style-light gallery-navigation-bullets gallery-info-overlay-show-on-hover gallery-aspect-ratio-32-standard gallery-arrow-style-no-background gallery-transitions-fade gallery-show-arrows gallery-auto-crop   product-list-titles-under product-list-alignment-center product-item-size-11-square product-image-auto-crop product-gallery-size-11-square  show-product-price show-product-item-nav product-social-sharing tweak-v1-related-products-image-aspect-ratio-11-square tweak-v1-related-products-details-alignment-center newsletter-style-light hide-opentable-icons opentable-style-dark small-button-style-solid small-button-shape-square medium-button-style-solid medium-button-shape-square large-button-style-solid large-button-shape-square image-block-poster-text-alignment-center image-block-card-dynamic-font-sizing image-block-card-content-position-center image-block-card-text-alignment-left image-block-overlap-dynamic-font-sizing image-block-overlap-content-position-center image-block-overlap-text-alignment-left image-block-collage-dynamic-font-sizing image-block-collage-content-position-top image-block-collage-text-alignment-left image-block-stack-dynamic-font-sizing image-block-stack-text-alignment-left button-style-solid button-corner-style-square tweak-product-quick-view-button-style-floating tweak-product-quick-view-button-position-bottom tweak-product-quick-view-lightbox-excerpt-display-truncate tweak-product-quick-view-lightbox-show-arrows tweak-product-quick-view-lightbox-show-close-button tweak-product-quick-view-lightbox-controls-weight-light native-currency-code-usd collection-type-page collection-5b5ce47503ce64f3c821e150 collection-layout-default homepage mobile-style-available has-banner-image general-page">
    <div class="body-overlay"></div>
    <div class="sqs-announcement-bar-dropzone"></div>
    <div id="sidecarNav">
      

  <div id="mobileNavWrapper" class="nav-wrapper" data-content-field="navigation-mobileNav">
    <nav id="mobileNavigation">
      

      
        
          

          

            
            <div class="collection active homepage">
              <a href="/">
                Home
              </a>
            </div>
    
            
            <div class="collection">
              <a href="/jensstory">
                Jen's Story
              </a>
            </div>



            

          
        
        

      
        
          

          

            
            <div class="collection">
              <a href="thank-you-to-our-sponsors">
                THANK YOU TO OUR SPONSORS
              </a>
            </div>
            

          
        
        

      
        
          

          
          <div class="folder">
            <div class="folder-toggle" data-href="/about">About</div>
            <div class="subnav">
            

              
              <div class="collection">
                <a href="/about-homelessness-and-the-cold">
                  Homelessness and Hypothermia
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/our-tech">
                  Our tech
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/vests-distributed-to-date">
                  Vests Distributed
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/new-page-1">
                  Board of Directors
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/faqs">
                  FAQs
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/contact">
                  Contact Us
                </a>
              </div>
              
              
            
            </div>
          </div>
          
        
        

      
        
          

          
          <div class="folder">
            <div class="folder-toggle" data-href="https://turtleshelterproject.org/take-action">How You Can Help</div>
            <div class="subnav">
            

              
              <div class="collection">
                <a href="https://turtleshelterproject.org/take-action">
                  You Can Make A Difference
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/donate">
                  Donate
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/event">
                  Schedule your own Event
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/partnerssponsors">
                  Become a Partner or Sponsor
                </a>
              </div>
              
              
            
              
            

              

              
              
            
            </div>
          </div>
          
        
        

      
    </nav>
  </div>



    </div>
    <div id="siteWrapper" class="clearfix">

      <div class="sqs-cart-dropzone"></div>

      <header id="header" class="show-on-scroll" data-offset-el=".index-section" data-offset-behavior="bottom" role="banner">
        <div class="header-inner">
          <div id="siteTitleWrapper" class="wrapper" data-content-field="site-title">
            
              <h1 id="siteTitle" class="site-title"><a href="/">Turtle Shelter Project</a></h1>
            
          </div><!--
          --><div class="mobile-nav-toggle"><div class="top-bar"></div><div class="middle-bar"></div><div class="bottom-bar"></div></div><div class="mobile-nav-toggle fixed-nav-toggle"><div class="top-bar"></div><div class="middle-bar"></div><div class="bottom-bar"></div></div><!--
          --><div id="headerNav">

  <div id="mainNavWrapper" class="nav-wrapper" data-content-field="navigation-mainNav">
    <nav id="mainNavigation" data-content-field="navigation-mainNav">
      

            <div class="collection">
              <a href="/jensstory">
                Jen's Story
              </a>
            </div>


            <div class="collection">
              <!-- Admin button -->
               <a href="/adminHome">Admin Login</a>
            </div>
            

            
            <div class="collection">
              <a href="thank-you-to-our-sponsors">
                THANK YOU TO OUR SPONSORS
              </a>
            </div>
            

          
        
        

      
        
          

          
          <div class="folder">
            <div class="folder-toggle" data-href="/about">About</div>
            <div class="subnav">
            

              
              <div class="collection">
                <a href="/about-homelessness-and-the-cold">
                  Homelessness and Hypothermia
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/our-tech">
                  Our tech
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/vests-distributed-to-date">
                  Vests Distributed
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/new-page-1">
                  Board of Directors
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/faqs">
                  FAQs
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/contact">
                  Contact Us
                </a>
              </div>
              
              
            
            </div>
          </div>
          
        
        

      
        
          

          
          <div class="folder">
            <div class="folder-toggle" data-href="https://turtleshelterproject.org/take-action">How You Can Help</div>
            <div class="subnav">
            

              
              <div class="collection">
                <a href="https://turtleshelterproject.org/take-action">
                  You Can Make A Difference
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/donate">
                  Donate
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/event">
                  Schedule your own Event
                </a>
              </div>
              
              
            

              
              <div class="collection">
                <a href="/partnerssponsors">
                  Become a Partner or Sponsor
                </a>
              </div>
              
              
            
              
            

          
              
              
            

              
              
              
            
            </div>
          </div>
          
        
        

      
    </nav>
  </div>
  <!-- style below blocks out the mobile nav toggle only when nav is loaded -->
  <style>.mobile-nav-toggle-label { display: inline-block !important; }</style>


</div>
        </div>
      </header>

      
        
          
            
              
                <div id="promotedGalleryWrapper" class="sqs-layout promoted-gallery-wrapper"><div class="row"><div class="col"></div></div></div>
                
                  
                    <div class="banner-thumbnail-wrapper has-description" data-content-field="main-image" data-collection-id="5b5ce47503ce64f3c821e150" data-edit-main-image="" data-annotation-alignment="bottom left">
                      
                      <div class="color-overlay"></div>
                      <figure id="thumbnail" class="loading content-fill">
                        <img src="/sowing_yellow.jpg" alt="Turtle Trash" style="width:100%; height:auto;">

                      </figure>
                      
                      <div class="desc-wrapper" data-content-field="description" data-collection-id="5b5ce47503ce64f3c821e150"><p style="white-space: pre-wrap;">Helping to save lives of people experiencing homelessness</p><p style="white-space: pre-wrap;"><strong>Starts with you</strong></p><p style="white-space: pre-wrap;"><a href="/jensstory">Learn More</a><a href="/donate">Donate</a></p></div>
                    </div>
                  
                
              
            
          
        
      


      
      
      

      <main id="page" role="main">
        
        <!--
        --><!--
        --><!--
        --><div id="content" class="main-content" data-content-field="main-content" data-collection-id="5b5ce47503ce64f3c821e150" data-edit-main-image="">
         <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1627865426908" id="page-5b5ce47503ce64f3c821e150"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-20d2d7d07ef691626788"><div class="sqs-block-content">

<div class="sqs-html-content">
  <h3 style="text-align:center;white-space:pre-wrap;">what is a turtle shelter vest? a high tech but simple solution to help save lives -</h3><h3 style="text-align:center;white-space:pre-wrap;">a portable "shelter" you can carry with you, just like a turtle...</h3><h3 style="text-align:center;white-space:pre-wrap;">and YOU can help!&nbsp;&nbsp;</h3>
</div>






</div></div><div class="row sqs-row"><div class="col sqs-col-2 span-2"><div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-3f0aecaba7151fa7367c"><div class="sqs-block-content">&nbsp;</div></div></div><div class="col sqs-col-8 span-8"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-9b68428d3dc4235f06c2"><div class="sqs-block-content">

<div class="sqs-html-content">
  <p style="text-align:center;white-space:pre-wrap;" class="">One winter when Jen was homeless, 7 of her friends froze to death.&nbsp;&nbsp;<br><br>Jen is no longer homeless and has figured out a solution:<br>&nbsp;High tech foam vests that are inexpensive,<br>keep a person warm to 10 degree below zero,&nbsp;help SAVE lives and alleviate suffering.</p><p style="text-align:center;white-space:pre-wrap;" class=""><em>YOU </em>can request vests for your community - and you can make vests and have your friends, business colleagues, church members or club make vests, too!&nbsp;</p>
</div>








</div></div></div><div class="col sqs-col-2 span-2"><div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-ee21fe402d941b112f04"><div class="sqs-block-content">&nbsp;</div></div></div></div><div class="row sqs-row"><div class="col sqs-col-4 span-4"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-24be46477b8e1e6d0e9e"><div class="sqs-block-content">

<div class="sqs-html-content">
  <h2 style="text-align:center;white-space:pre-wrap;"><a href="/about" target="_blank">About</a></h2><p class="" style="white-space:pre-wrap;">Jen's story, from homelessness to saving lives, plus our mission, team and all about the tech that makes our vests so special</p><p style="text-align:center;white-space:pre-wrap;" class=""><a href="/about" target="_blank">Learn More →</a></p>
</div>












</div></div></div><div class="col sqs-col-4 span-4"><div class="sqs-block image-block sqs-block-image" data-aspect-ratio="95.9375" data-block-type="5" id="block-yui_3_17_2_1_1532816829575_13291"><div class="sqs-block-content">






  

    
  
    <div
        class="
          image-block-outer-wrapper
          layout-caption-below
          design-layout-inline
          combination-animation-none
          individual-animation-none
          individual-text-animation-none
        "
        data-test="image-block-inline-outer-wrapper"
    >

      

      
        <figure
            class="
              sqs-block-image-figure
              intrinsic
            "
            style="max-width:320px;"
        >
          
        
        

        
          
            
          <div
              
              
              class="image-block-wrapper"
              data-animation-role="image"
              
  

          >
            <div class="sqs-image-shape-container-element
              
          
        
              has-aspect-ratio
            " style="
                position: relative;
                
                  padding-bottom:95.9375%;
                
                overflow: hidden;-webkit-mask-image: -webkit-radial-gradient(white, black);
              "
              >
                
                
                
                
                
                
                
              <img src="/turtle_trash.png" alt="Turtle Trash" style="width:100%; height:auto;">



            </div>
          </div>
        
          
        

        
      
        </figure>
      

    </div>
  


  


</div></div></div><div class="col sqs-col-4 span-4"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-701d3c3b3cc7ba704561"><div class="sqs-block-content">

<div class="sqs-html-content">
  <h2 style="text-align:center;white-space:pre-wrap;"><a href="/howYouCanHelp">Take Action</a></h2>
  <p style="text-align:center;white-space:pre-wrap;" class="">Ready to take the next step? You can request vests, donate, make vests yourself, or organize an event!</p>
  <p style="text-align:center;white-space:pre-wrap;" class=""><a href="/howYouCanHelp">Find Out How →</a></p>
  
  <!-- Donation button moved here, after the "Find Out How" link -->
  <div style="text-align:center;margin:20px 0;">
    <a href="https://turtleshelterproject.org/checkout/donate?donatePageId=5b6a44c588251b72932df5a0" 
       class="sqs-button-element--primary"
       style="display:inline-block;
              padding:15px 30px;
              background-color:#34b3a8;  /* Changed to match your site's teal color */
              color:white;
              text-decoration:none;
              border-radius:4px;
              font-weight:bold;">
      Donate Now
    </a>
  </div>
</div>






</div></div></div></div><div class="sqs-block image-block sqs-block-image" data-aspect-ratio="74.62039045553145" data-block-type="5" id="block-4a8b8fd7d1daa5fdcffc"><div class="sqs-block-content">




      <figure
          class="
            sqs-block-image-figure
            image-block-outer-wrapper
            image-block-v2
            design-layout-card
            combination-animation-none
            individual-animation-none
            individual-text-animation-none
            image-position-left
            image-linked
          "
          data-scrolled
          data-test="image-block-v2-outer-wrapper"
      >

        <div class="intrinsic">
          
            <div
          
              class="
                
                image-inset"
              data-animation-role="image"
              data-description="&lt;p class=&quot;&quot; style=&quot;white-space:pre-wrap;&quot;&gt;Outreach workers from Youth Futures homeless youth shelter in Utah prepare to bring vests to youth experiencing homelessness.&lt;/p&gt;"
              
  

          >
            <div class="sqs-image-shape-container-element
              
                content-fit
              
            " style="
              position: relative;
              overflow: hidden;-webkit-mask-image: -webkit-radial-gradient(white, black);
              
            ">
              
              
              
              
              
              
              
              <img src="/group_vest.png" alt="Turtle Trash" style="width:100%; height:auto;">


              <div class="image-overlay" style="overflow: hidden;-webkit-mask-image: -webkit-radial-gradient(white, black);"></div>
            </div>
          
            </div>
          

        </div>

        
          
          <figcaption class="image-card-wrapper" data-width-ratio>
            <div class="image-card sqs-dynamic-text-container">

              
                <div class="image-title-wrapper"><div class="image-title sqs-dynamic-text"
                
  
><p class="" style="white-space:pre-wrap;">Turtle Shelter  Recipients</p></div></div>
              

              
                <div class="image-subtitle-wrapper"><div class="image-subtitle sqs-dynamic-text"
                
  
><p class="" style="white-space:pre-wrap;">Handing out Turtle Shelter Vests to our friends experiencing homelessness.</p></div></div>
              

              

            </div>
          </figcaption>
        

      </figure>

    

  


</div></div><div class="sqs-block image-block sqs-block-image" data-aspect-ratio="71.44351464435147" data-block-type="5" id="block-7107fd3abb893dc4bb2f"><div class="sqs-block-content">










































  

    
  
    <div
        class="
          image-block-outer-wrapper
          layout-caption-below
          design-layout-inline
          combination-animation-none
          individual-animation-none
          individual-text-animation-none
        "
        data-test="image-block-inline-outer-wrapper"
    >

      

      
        <figure
            class="
              sqs-block-image-figure
              intrinsic
            "
            style="max-width:2500px;"
        >
          
        
        

        
          <a
              class="
                sqs-block-image-link
                
          
        
              "
              href="/take-action-bedford"
              
          >
            
          <div
              
              
              class="image-block-wrapper"
              data-animation-role="image"
              
  

          >
            <div class="sqs-image-shape-container-element
              
          
        
              has-aspect-ratio
            " style="
                position: relative;
                
                  padding-bottom:71.44351196289062%;
                
                overflow: hidden;-webkit-mask-image: -webkit-radial-gradient(white, black);
              "
              >
                
                
                
                
                
                
                
              <img src="/group_sowing.jpg" alt="Turtle Trash" style="width:100%; height:auto;">


            </div>
          </div>
        
          </a>
        

        
          
          <figcaption class="image-caption-wrapper">
            <div class="image-caption"><p class="" style="white-space:pre-wrap;">                                                                      Turtle Shelter Vest Projects are ideal for groups of any size, age and ability.</p></div>
          </figcaption>
        
      
        </figure>
      

    </div>
  


  


</div></div></div></div></div>
        </div><!--
        -->
        
      </main>

      <div id="preFooter">
        <div class="pre-footer-inner">
          <div class="sqs-layout sqs-grid-12 columns-12" data-layout-label="Pre-Footer Content" data-type="block-field" data-updated-on="1406661050940" id="preFooterBlocks"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block socialaccountlinks-v2-block sqs-block-socialaccountlinks-v2" data-block-type="54" id="block-yui_3_17_2_1_1406660821033_8373"><div class="sqs-block-content">



<div class="sqs-svg-icon--outer social-icon-alignment-center social-icons-color-white social-icons-size-large social-icons-shape-circle social-icons-style-knockout" >
  <style>
    #block-yui_3_17_2_1_1406660821033_8373 .social-icons-style-border .sqs-svg-icon--wrapper {
      
        box-shadow: 0 0 0 2px inset;
      
      border: none; 
    }
  </style>
  <nav class="sqs-svg-icon--list">
    <a href="https://www.facebook.com/turtleshelterproject/" target="_blank" class="sqs-svg-icon--wrapper facebook-unauth" aria-label="Facebook">
      <div>
        <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
          <use class="sqs-use--icon" xlink:href="#facebook-unauth-icon"></use>
          <use class="sqs-use--mask" xlink:href="#facebook-unauth-mask"></use>
        </svg>
      </div>
    </a>
  </nav>
</div>
</div></div></div></div></div>
        </div>
      </div>

      <footer id="footer" role="contentinfo">
        <div class="footer-inner">
          <div class="nav-wrapper back-to-top-nav"><nav><div class="back-to-top"><a href="#header">Back to Top</a></div></nav></div>
          


          <div id="siteInfo"><span class="site-address">Turtle Shelter Project, PO Box 382, Kaysville, UT 84037</span><span rel="tel" class="site-phone">801-872-3190</span><a href="mailto:turtleshelterproject@gmail.com" class="site-email"><span>turtleshelterproject@gmail.com</span></a></div>
          <div class="sqs-layout sqs-grid-12 columns-12 empty" data-layout-label="Footer Content" data-type="block-field" data-updated-on="1532816931489" id="footerBlocks"><div class="row sqs-row"><div class="col sqs-col-12 span-12"></div></div></div>
        </div>
      </footer>

    </div>

    <script defer="defer" src="https://static1.squarespace.com/static/ta/52a74d9ae4b0253945d2aee9/1052/scripts/site-bundle.js" type="text/javascript"></script>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display:none" data-usage="social-icons-svg"><symbol id="facebook-unauth-icon" viewBox="0 0 64 64"><path d="M34.1,47V33.3h4.6l0.7-5.3h-5.3v-3.4c0-1.5,0.4-2.6,2.6-2.6l2.8,0v-4.8c-0.5-0.1-2.2-0.2-4.1-0.2 c-4.1,0-6.9,2.5-6.9,7V28H24v5.3h4.6V47H34.1z"/></symbol><symbol id="facebook-unauth-mask" viewBox="0 0 64 64"><path d="M0,0v64h64V0H0z M39.6,22l-2.8,0c-2.2,0-2.6,1.1-2.6,2.6V28h5.3l-0.7,5.3h-4.6V47h-5.5V33.3H24V28h4.6V24 c0-4.6,2.8-7,6.9-7c2,0,3.6,0.1,4.1,0.2V22z"/></symbol></svg>

  </body>
</html>
